.btn {
    display: flex;
    background-color: #315efb;
    cursor: pointer;
    color: white;
    border: none;
    width: 200px;
    height: 35px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.btn-text {
    text-transform: uppercase;
}
.btn:hover {
    transform: scale(1.06);
}
