.wrapper {
    width: 380px;
    height: 250px;
}
.chat {
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}
.inp {
    border: 4px solid #c4d8ed;
    width: 200px;
    margin-right: 4px;
    border-radius: 10px;
}
.inp::placeholder {
    font-size: 12px;
}
.inp:focus {
    outline: none;
}
.btn-one {
    margin-right: 4px;
}
.dialog-box {
    display: flex;
    flex-direction: column;
    border: 4px solid #c4d8ed;
    height: 200px;
    border-radius: 10px;
    overflow-y: scroll;
    padding-bottom: 5px;
}
.btn {
    width: 82px;
    background-color: #c4d8ed;
    cursor: pointer;
    font-size: 12px;
    border: none;
    transition: 0.3s;
    border-radius: 10px;
}
.btn:hover {
    transform: scale(1.04);
}
.userMessage, .serverText, .link {
    min-height: 30px;
    min-width: 175px;
    max-width: 47%;
    padding: 0 5px 0 5px;
    margin: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
    border: 4px solid #c4d8ed;
    border-radius: 20px;
}
.serverText {
    align-self: flex-end;
    margin: 5px 5px 0 0;
}
.link {
    text-decoration: none;
    color: #6f8fc9;
    min-width: 100px;
    max-width: 30%;
}